<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h4>Materiales </h4>
            </div>

            <div class="panel-body">
                <%= form_for @product, html: {multipart: true} do |f| %>
                <div class="form-horizontal">

                    <div class="form-group">
                        <%= f.label :id_project, 'Proyecto', class:'control-label col-xs-2 ' %>
                            <div class="col-xs-6">
                                <%= f.collection_select :id_project, Project.all, :ccosto, :name, :selected => @product.id_project  %>
                            </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :id_item, 'Partida', class:'control-label col-xs-2 ' %>
                            <div class="col-xs-6">
                                <%= f.collection_select :id_item, Item.all, :nombre, :nombre, :selected => @product.id_item  %>
                            </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :id_metric, 'Unidad', class:'control-label col-xs-2 ' %>
                            <div class="col-xs-6">
                                <%= f.collection_select :id_metric, Metric.all, :unit, :unit, :selected => @product.id_metric  %>
                            </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :nombre, 'Nombre', class:'control-label col-xs-2 ' %>
                            <div class="col-xs-6">
                                <%= f.text_field :nombre, class:'form-control', placeholder:'Nombre' %>
                            </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :descripcion, 'Descripción', class:'control-label col-xs-2 ' %>
                            <div class="col-xs-6">
                                <%= f.text_field :descripcion, class:'form-control', placeholder:'Descripción' %>
                            </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :cant, 'Cantidad', class:'control-label col-xs-2 ' %>
                            <div class="col-xs-6">
                                <%= f.number_field :cant, id:'qty', class:'form-control', placeholder:'Cantidad', :required => true %>
                            </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :valor_unitario, 'Valor Unitario $', class:'control-label col-xs-2 ' %>
                            <div class="col-xs-6">
                                <%= f.text_field :valor_unitario, id:'unit_value', class:'form-control', placeholder:'Valor Unitario' %>
                            </div>
                    </div>

                    <div class="form-group">
                        <%= f.label :total_neto, 'Total Neto', class:'control-label col-xs-2 ' %>
                            <div class="col-xs-6">
                                <%= f.text_field :total_neto, id:'total_neto', class:'form-control' %>
                            </div>
                    </div>                     

                    <button type="button", onclick="calculo();">Calcular Montos</button>

                    <div class="form-group">
                        <%= f.label :iva, 'Total IVA', class:'control-label col-xs-2 ' %>
                            <div class="col-xs-6">
                                <%= f.text_field :iva, id:'iva', class:'form-control' %>
                            </div>
                    </div>                      

                    <div class="form-group">
                        <%= f.label :valor_total, 'Valor Total', class:'control-label col-xs-2 ' %>
                            <div class="col-xs-6">
                                <%= f.text_field :valor_total, id:'valor_total', class:'form-control', placeholder:'Valor Total' %>
                            </div>
                    </div>
                     
                    <div class="form-group">
                        <div class="col-xs-2 left">
                        </div>
                    </div>

                    <div class="form-actions">
                        <%= f.submit 'Guardar', {:class=>"btn btn-primary btn-sm"}  %>
                        <%= link_to 'Cancelar', :back, {:class=>"btn btn-primary btn-sm"}  %>
                    </div>
            </div>
                        
                <% end %>
                </div>
            </div>
        </div>
</div>